body{
  font-family: 'Bubbler One', sans-serif;
}
#opciones{
  text-align: center;
}
#map {
  height: 400px;
  width: 46%;
  margin: 2%;
}
.opcionRestaurantes{
  width: 10%;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

  #map{
    width: 100%;
  }
  .collection{
  display: none;   
  }

}
